
.link{
  text-decoration: none;
  padding:10px;
  margin:5px
}
ul{
  display: flex;
  list-style: none;

}
.header{
min-height: 110px;
background-color: #05e6da;
color: black !important;


}
.footer{
min-height: 110px;
background-color: #cca216;
color: black !important;


}
.main{
min-height: 423px;

color: black !important;



}
.sinput {
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 59px;
  padding: 15px;
  margin-left:250px;
  margin-bottom: 20px;
  
}
.right{
  text-align: right !important;
}
table, th, td {
  border:1px solid black;
}
body{
  color: antiquewhite;
}
span{
  text-align: center;
}
.search{
  width: 55%;
  height: 60px;
  margin-left: 249px;
  margin-bottom: 48px;
}